{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Password Reset | Track My Work</title>
{% endblock %}
{% block body %}
<section>
	<div class="container my-6">
		<div class="flex flex-col space-y-2 mx-auto">
			{% if messages %}
			{% for message in messages %}
			<p class="bg-green-100 p-4 text-green-800">{{ message }}</p>
			{% endfor %}
			{% endif %}
		</div>
		<div class="border border-gray-100 p-8 my-12 max-w-2xl mx-auto">
			<form method="post" class="flex flex-col space-y-5" id="form" data-form="send-otp">
				{% csrf_token %}
				<h3 class="text-sky-700 text-center text-2xl pb-8">Password Reset</h3>
				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				<p class="text-red-600 text-sm">{{ error|escape }}</p>
				{% endfor %}
				{% endif %}
				<div class="flex flex-col space-y-3 w-full">
					<label for="id_username" class="text-slate-700">Enter Your Username</label>
					<input type="text" name="username" id="id_username" placeholder="Username or Email" required
						class="border-slate-300 focus:border-sky-700" {% if form.username.value %}
						value="{{form.username.value}}" {% endif %} />
					<p class="text-red-600 text-sm" id="username-error"></p>
					{% if form.username.errors %}
					{% for error in form.username.errors %}
					<p class="text-red-600 text-sm">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>
				<div class="hidden flex-col space-y-3 w-full" id="otp-div">
					<label for="id_password" class="text-slate-700">Enter OTP</label>
					<p class="text-slate-500 text-xs">It should be six digit number</p>
					<input type="text" name="otp" id="id_otp" placeholder="OTP"
						class="border-slate-300 focus:border-sky-700" {% if form.otp.value %} value="{{form.otp.value}}"
						{% endif %} />
					{% if form.otp.errors %}
					{% for error in form.otp.errors %}
					<p class="text-red-600 text-sm">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>
				<input type="submit" id="submit-btn" class="p-3 bg-sky-500 hover:bg-sky-700 text-white"
					value="Send OTP">
				<button id="resend-btn" type="button"
					class="p-3 bg-green-500 hover:bg-green-700 text-white text-center hidden">
					Resend OTP
				</button>
			</form>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
<script>
	/*
		change input field and appropriate error
		change button name
		change form type
		set user id after otp confirmation (have to encrypt)

		resend otp (hide and show time function)
		user can directly select (i got otp have to enter) [checkbox]
	*/
	$('#form').submit(function (e) {
		e.preventDefault();
		form_type = $(this).data('form')
		username = $('#id_username').val()
		console.log(username)
		if (form_type == 'send-otp') {
			data = {
				'username': $('#id_username').val(),
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			}
			$.ajax({
				url: '{% url "accounts:check_username" %}',
				type: 'post',
				data: data,
				success: (res) => {
					console.log(res)
					if (res.success === false) {
						$.ajax({
							url: '{% url "accounts:send_otp" %}',
							type: 'post',
							data: { 'username': username, 'for': 'password-reset' },
							success: (res) => {
								console.log(res)
							},
							error: (res) => {
								console.log(err)
							}
						})
						$('#username-error').html('')
						$('#submit-btn').attr('value', 'Verify OTP')
						$('#resend-btn').removeClass('hidden')
						$('#form').data('form', 'confirm-otp')
						$('#otp-div').removeClass('hidden').addClass('flex')
						$('#id_username').attr('readonly', true)
						$('#id_otp').attr('required', true).attr('pattern', '[0-9]{6}')
					}
					else if (res.success === true) {
						$('#username-error').html('Username or Email does not exist')
					}
				},
				error: (err) => {
					console.log(err)
				}
			})
			countdown()
		}
		else if (form_type == 'confirm-otp') {
			console.log('confirm otp form')
		}
		else if (form_type == 'reset-password') {

		}

	})
</script>
<script>
	function milliSecondsToMinutesAndSeconds(ms) {
		minutes = Math.floor(ms / 60000);
		seconds = ((ms % 60000) / 1000).toFixed(0);
		return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
	}
	var interval;
	var milliSeconds = 120000;
	function countdown() {
		interval = setInterval(function () {
			if (milliSeconds >= 1000) {
				$('#resend-btn').html(`Resend OTP <span class="py-2 px-4 mx-3 rounded-full bg-green-500 text-white">${milliSecondsToMinutesAndSeconds(milliSeconds)}</span>`).
					attr('disabled', true).removeClass('bg-green-500 hover:bg-green-700').
					addClass('bg-slate-300 hover:bg-slate-300')
				milliSeconds -= 1000
			}
			else {
				$('#resend-btn').html(`Resend OTP`).
					removeClass('bg-slate-300 hover:bg-slate-300').addClass('bg-green-500 hover:bg-green-700');
				$('#resend-btn').removeAttr('disabled');
				clearInterval(interval);
			}
		}, 1000);
	}

	$('#resend-btn').click(() => { console.log(this) })
</script>
{% endblock %}