{% extends 'base.html' %}
{% load static %}
{% load icon %}
{% block head %}
<title>Password Reset | Track My Work</title>
{% endblock %}
{% block body %}
<section>
	<div class="container my-6">
		<div class="flex flex-col space-y-2 mx-auto">
			{% if messages %}
			{% for message in messages %}
			<p class="bg-green-100 p-4 text-green-800">{{ message }}</p>
			{% endfor %}
			{% endif %}
		</div>
		<div class="border border-gray-100 p-8 my-12 max-w-2xl mx-auto">
			<form method="post" class="flex flex-col space-y-5" id="form" data-form="send-otp">
				{% csrf_token %}
				<h3 class="text-sky-700 text-center text-2xl pb-8">Password Reset</h3>
				<p class="text-red-600 text-sm" id="common-error"></p>
				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				<p class="text-red-600 text-sm">{{ error|escape }}</p>
				{% endfor %}
				{% endif %}
				<div class="flex flex-col space-y-3 w-full">
					<label for="id_username" class="text-slate-700">Enter Your Email</label>
					<input type="email" name="username" id="id_username" placeholder="Email" required
						class="border-slate-300 focus:border-sky-700" {% if form.username.value %}
						value="{{form.username.value}}" {% endif %} />
					<p class="text-red-600 text-sm" id="username-error"></p>
					{% if form.username.errors %}
					{% for error in form.username.errors %}
					<p class="text-red-600 text-sm">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>
				<div class="hidden flex-col space-y-3 w-full" id="otp-div">
					<label for="id_otp" class="text-slate-700">Enter OTP</label>
					<p class="text-slate-500 text-xs" id="otp_or_key_help">It should be six digit number</p>
					<input type="text" name="otp" id="id_otp" placeholder="OTP"
						class="border-slate-300 focus:border-sky-700" {% if form.otp.value %} value="{{form.otp.value}}"
						{% endif %} />
					<p class="text-red-600 text-sm" id="otp-error"></p>
					{% if form.otp.errors %}
					{% for error in form.otp.errors %}
					<p class="text-red-600 text-sm">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>
				<!-- Password -->
				<div class="flex-col space-y-3 w-full hidden" id="password1-field">
					<label for="id_password" class="text-slate-700">Password</label>
					<p class="text-slate-500 text-xs">to choose strong password</p>
					<ul class="text-slate-500 text-xs list-disc pl-4">
						<li id="p_1">Atleast one uppercase letter</li>
						<li id="p_2">Atleast one number</li>
						<li id="p_3">Atleast one special character</li>
						<li id="p_4">Minimum 6 characters long</li>
					</ul>
					<div id="password-strength-meter">
						<span class="status-bar border block p-1 relative">
							<i id="bar-percent" class="block h-full absolute left-0 top-0"></i>
						</span>
						<span class="block text-center text-xs text-slate-400" id="bar-text"></span>
					</div>
					<div class="flex">
						<input type="password" name="password" id="id_password" placeholder="Password"
							class="border-slate-300 focus:border-sky-700 flex-1" {% if form.password.value %}
							value="{{form.password.value}}" {% endif %} />
						<span
							class="border py-2 px-3 flex bg-slate-100 justify-center items-center hover:cursor-pointer"
							id="password-visible-toggle">
							<i class="hidden">{% icon "eye-off" width="25" height="20" %}</i>
							<i>{% icon "eye" width="25" height="20" %}</i>
						</span>
					</div>
					{% if form.password.errors %}
					{% for error in form.password.errors %}
					<p class="text-red-600 text-sm p_error">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>
				<div class="flex-col space-y-3 w-full hidden" id="password2-field">
					<label for="id_confirm_password" class="text-slate-700">Confirm Password</label>
					<p class="text-slate-500 text-xs">re enter same password for confirm once again with awareness</p>
					<div class="flex">
						<input {% if form.confirm_password.value %} value="{{form.confirm_password.value}}" {% endif %}
							type="password" name="confirm_password" id="id_confirm_password" placeholder="Re-Password"
							class="border-slate-300 focus:border-sky-700 flex-1" />
						<span
							class="border py-2 px-3 flex bg-slate-100 items-center justify-center hover:cursor-pointer"
							id="confirm-password-visible-toggle">
							<i class="hidden">{% icon "eye-off" width="25" height="20" %}</i>
							<i>{% icon "eye" width="25" height="20" %}</i>
						</span>
					</div>
					<p class="text-red-600 text-sm hidden cp_error" id="confirm-password-error"></p>
					{% if form.confirm_password.errors %}
					{% for error in form.confirm_password.errors %}
					<p class="text-red-600 text-sm cp_error">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>
				<!-- End -->
				<input type="submit" id="submit-btn" class="p-3 bg-sky-500 hover:bg-sky-700 text-white"
					value="Send OTP">
				<button id="resend-btn" type="button"
					class="p-3 bg-green-500 hover:bg-green-700 text-white text-center hidden">
					Resend OTP
				</button>
				<div class="hidden" id="try-wrapper">
					<span class="text-slate-500" id="try-key">I don't get any email message yet ?</span>
					<button type="button" class="underline text-sky-600 hover:text-sky-400 cursor-pointer"
						id="key-trigger">Try another way</button>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
<script>
	$('#form').submit(function (e) {
		e.preventDefault();
		form_type = $(this).data('form')
		username = $('#id_username').val()
		console.log(username)
		if (form_type == 'send-otp') {
			data = {
				'username': $('#id_username').val(),
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			}
			$.ajax({
				url: '{% url "accounts:check_username" %}',
				type: 'post',
				data: data,
				success: (res) => {
					console.log(res)
					if (res.success === false) {
						$.ajax({
							url: '{% url "accounts:send_otp" %}',
							type: 'post',
							data: { 'username': username, 'for': 'password-reset' },
							success: (res) => {
								console.log(res)
							},
							error: (res) => {
								console.log(err)
							}
						})
						$('#username-error').html('')
						$('#submit-btn').attr('value', 'Verify OTP')
						$('#resend-btn').removeClass('hidden')
						$('#form').data('form', 'confirm-otp')
						$('#otp-div').removeClass('hidden').addClass('flex')
						$('#id_username').attr('readonly', true)
						$('#id_otp').attr('required', true).attr('pattern', '[0-9]{6}')
						$('#try-wrapper').removeClass('hidden')
					}
					else if (res.success === true) {
						$('#username-error').html('Email does not exist')
					}
				},
				error: (err) => {
					console.log(err)
				}
			})
			countdown()
		}
		else if (form_type == 'confirm-otp') {
			console.log('confirm otp form')
		}
		else if (form_type == 'unique-key-auth-form') {
			key = $('#id_otp').val();
			$.ajax({
				url: '{% url "accounts:get_unique_key" %}',
				type: 'post',
				data: { 'email': username, 'key': key },
				success: (res) => {
					if (res.success === true) {
						$('#otp-error').html()
						preparePasswordResetForm()
					}
					else {
						$('#otp-error').html('Invalid Unique Key')
					}
				},
				error: (err) => {
					console.log(err)
				}
			})
		}
		else if (form_type == 'reset-password') {
			console.log('reset password form')
			key = $('#id_otp').val()
			p1 = $('#id_password').val()
			p2 = $('#id_confirm_password').val()

			$.ajax({
				url: '{% url "accounts:reset_password" %}',
				type: 'post',
				data: { 'email': username, 'password': p1, 'confirm_password': p2, 'key': key },
				success: (res) => {
					if (res.status == 'error') {
						$('#common-error').html(res.message)
					}
					else if (res.status == 'success') {
						window.location.replace('{% url "accounts:login_page" %}')
					}

				},
				error: (err) => {
					console.log(err)
				}
			})
		}

	})
</script>
<script>
	function milliSecondsToMinutesAndSeconds(ms) {
		minutes = Math.floor(ms / 60000);
		seconds = ((ms % 60000) / 1000).toFixed(0);
		return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
	}
	var interval;
	var milliSeconds = 120000;
	function countdown() {
		interval = setInterval(function () {
			if (milliSeconds >= 1000) {
				$('#resend-btn').html(`Resend OTP <span class="py-2 px-4 mx-3 rounded-full bg-green-500 text-white">${milliSecondsToMinutesAndSeconds(milliSeconds)}</span>`).
					attr('disabled', true).removeClass('bg-green-500 hover:bg-green-700').
					addClass('bg-slate-300 hover:bg-slate-300')
				milliSeconds -= 1000
			}
			else {
				$('#resend-btn').html(`Resend OTP`).
					removeClass('bg-slate-300 hover:bg-slate-300').addClass('bg-green-500 hover:bg-green-700');
				$('#resend-btn').removeAttr('disabled');
				clearInterval(interval);
			}
		}, 1000);
	}

	$('#resend-btn').click(() => { console.log(this) })

	$('#key-trigger').click(function (event) {
		key = $(event.target).html()
		key = key.replace(/\s+/g, ' ').trim();

		if (key == 'Try another way') {
			$('label[for="id_otp"]').html('Enter Your Unique Key').attr('for', 'id_key')
			$('#id_otp').attr('placeholder', 'Unique Key').attr('name', 'key').attr('maxlength', '20').attr('pattern', 'tmw-[0-9a-f]{11}-[245zas]{4}').removeAttr('readonly').focus()
			$('#otp_or_key_help').html('It should be like tmw-a1b2c3d4e5f-24s5')
			$('#submit-btn').attr('value', 'Verify Key')
			$('#resend-btn').addClass('hidden')
			$('#form').data('form', 'unique-key-auth-form')
			$('#try-key').html('I have received an email now ')
			$('#key-trigger').html('I have otp')
		}
		else if (key == 'I have otp') {
			$('label[for="id_key"]').html('Enter OTP').attr('for', 'id_otp')
			$('#id_otp').attr('placeholder', 'OTP').attr('name', 'otp').attr('maxlength', '6').attr('pattern', '[0-9]{6}').removeAttr('readonly').focus()
			$('#otp_or_key_help').html('It should be six digit number')
			$('#submit-btn').attr('value', 'Verify OTP')
			$('#form').data('form', 'confirm-otp')
			$('#try-key').html('I don\'t get any email message yet ? ')
			$('#key-trigger').html('Try another way')
		}
	})

	function preparePasswordResetForm() {
		$('#form').data('form', 'reset-password')
		$('#submit-btn').attr('value', 'Reset Password')
		$('#id_otp').attr('readonly', true)
		$('#password1-field').removeClass('hidden').addClass("flex")
		$('#password2-field').removeClass('hidden').addClass("flex")
	}


	function containsSpecialChars(str) {
		const specialChars = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
		return specialChars.test(str);
	}
	function containsNumber(str) {
		const numberChars = /[0-9]/;
		return numberChars.test(str);
	}
	function containsUppercaseChar(str) {
		const uppercaseChars = /[A-Z]/;
		return uppercaseChars.test(str);
	}
	function removeExistingClass(class_list, where) {
		class_list.forEach(function (klass) {
			if (where.hasClass(klass)) { where.removeClass(klass) }
		})
	}
	function checkAndSetPasswordsMatchError(p1, p2) {
		if (p1 && p2 && p1 !== p2) {
			$('.cp_error').each((k, p) => { $(p).empty() })
			$('#confirm-password-error').removeClass('hidden').html('Password and Confirm Password does not match');
		}
		else {
			$('#confirm-password-error').addClass('hidden').html('');
		}
	}

	// Password Input Key Up Trigger
	$('#id_password').keyup(function (event) {
		let password_input = $(event.target);
		let value = password_input.val();
		let count = 0

		if (containsUppercaseChar(value)) {
			count++;
			$('#p_1').addClass('line-through')
		}
		else { $('#p_1').removeClass('line-through') }

		if (containsNumber(value)) {
			count++;
			$('#p_2').addClass('line-through');
		}
		else { $('#p_2').removeClass('line-through'); }

		if (containsSpecialChars(value)) {
			count++;
			$('#p_3').addClass('line-through');
		}
		else { $('#p_3').removeClass('line-through'); }

		if (value.length >= 6) {
			count++;
			$('#p_4').addClass('line-through');
		}
		else { $('#p_4').removeClass('line-through') }

		removeExistingClass(
			['w-[25%]', 'w-[50%]', 'w-[75%]', 'w-[100%]',
				'bg-red-500', 'bg-yellow-500', 'bg-green-500'],
			$('#bar-percent')
		);
		if (count == 0) {
			$('#bar-text').html('')
		}
		else if (count == 1) {
			$('#bar-percent').addClass('bg-red-500 w-[25%]');
			$('#bar-text').html('Weak')
		}
		else if (count == 2) {
			$('#bar-percent').addClass('bg-red-500 w-[50%]');
			$('#bar-text').html('Average')
		}
		else if (count == 3) {
			$('#bar-percent').addClass('bg-yellow-500 w-[75%]');
			$('#bar-text').html('Normal')
		}
		else if (count == 4) {
			$('#bar-percent').addClass('bg-green-500 w-[100%]')
			$('#bar-text').html('Good')
		}
		checkAndSetPasswordsMatchError(value, $('#id_confirm_password').val());
	});

	// Confirm Password Input Key Up Trigger
	$('#id_confirm_password').keyup(function (event) {
		confirm_password_input = $(event.target);
		let cp_value = confirm_password_input.val();
		let p_value = $('#id_password').val();

		checkAndSetPasswordsMatchError(p_value, cp_value);
	})
	$('#password-visible-toggle').click(function () {
		$('#password-visible-toggle').find('i').each(function (k, image) {
			$(image).toggleClass('hidden')
		});
		existing_type = $('#id_password').prop('type')
		if (existing_type === 'password') { $('#id_password').prop('type', 'text'); }
		else { $('#id_password').prop('type', 'password'); }
	})
	$('#confirm-password-visible-toggle').click(function () {
		$('#confirm-password-visible-toggle').find('i').each(function (k, image) {
			$(image).toggleClass('hidden')
		});
		existing_type = $('#id_confirm_password').prop('type')
		if (existing_type == 'password') { $('#id_confirm_password').prop('type', 'text'); }
		else { $('#id_confirm_password').prop('type', 'password'); }
	})

</script>
{% endblock %}