{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Login | Track My Work</title>
{% endblock %}
{% block body %}


<section>
	<div class="container my-6">
		<div class="flex flex-col space-y-2 mx-auto">
			{% if messages %}
			{% for message in messages %}
			<p class="bg-sky-100 p-3">{{ message }}</p>
			{% endfor %}
			{% endif %}
		</div>
		<div class="border border-gray-100 p-8 my-12 max-w-2xl mx-auto">
			<form method="post" class="flex flex-col space-y-5" id="login-form">
				{% csrf_token %}
				<h3 class="text-sky-700 text-center text-2xl pb-8">Welcome back !</h3>
				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				<p class="text-red-600 text-sm">{{ error|escape }}</p>
				{% endfor %}
				{% endif %}
				<div class="flex flex-col space-y-3 w-full">
					<label for="id_username" class="text-slate-700">Enter Your Username</label>
					<input type="text" name="username" id="id_username" placeholder="Username or Email"
						class="border-slate-300 focus:border-sky-700" {% if form.username.value %}
						value="{{form.username.value}}" {% endif %} />
					{% if form.username.errors %}
					{% for error in form.username.errors %}
					<p class="text-red-600 text-sm">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>
				<div class="flex flex-col space-y-3 w-full">
					<label for="id_password" class="text-slate-700">Enter Your Password</label>
					<input type="password" name="password" id="id_password" placeholder="Password"
						class="border-slate-300 focus:border-sky-700" {% if form.password.value %}
						value="{{form.password.value}}" {% endif %} />
					{% if form.password.errors %}
					{% for error in form.password.errors %}
					<p class="text-red-600 text-sm">{{ error|escape }}</p>
					{% endfor %}
					{% endif %}
				</div>

				<div class="flex items-center">
					<div class="flex-1 flex items-center space-x-4">
						<input type="checkbox" class="outline-none" id="id_keep_me" name="keep_me">
						<label for="id_keep_me">Keep me signed in</label>
					</div>
					<div class="flex-1 text-right">
						<a href="#" class="text-sky-700 hover:text-sky-400 underline">Forgot password
							?</a>
					</div>
				</div>
				<input type="submit" value="Sign In" class="p-3 bg-sky-700 hover:bg-sky-800 text-white text-lg">
				<div class="flex items-center justify-between">
					<p class="text-slate-700">I don't have an account ? <a href="#"
							class="text-sky-700 hover:text-sky-400 underline">
							Sign
							Up</a></p>
					<a href="{% url 'accounts:account_confirmation_page' %}"
						class="underline text-sky-700 hover:text-sky-400 text-right">Confirm my account</a>
				</div>
			</form>
		</div>
	</div>
</section>


{% endblock %}